body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  background-color: #fafad2;
  color: #d47500;
  text-align: center;
}

.panel {
  margin-top: 30px;
  text-align: left;
}

#delete {
  float: right;
  margin-top: -5px;
}
